<header id="header" class="menu-top-left">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-4">
        <%= link_to root_path, id: "logo", title: "Tenguu", class: "logo-image",
          data: {bg_image: "https://c2.staticflickr.com/8/7926/32137861817_5b985863e7_o.png"} do %>
          Movie ticket
        <% end %>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-8 phl0">
        <% if user_signed_in? %>
          <div class="header_ticket">
            <%= current_user.name %>
            <a href="#order" class="order_btn">Đặt vé</a>
            <%= link_to t(".log_out"), destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="header_ticket">
            <%= link_to t(".sign_up"), new_user_registration_path %> |
            <%= link_to t(".log_in"), new_user_session_path %>
          </div>
        <% end %>
        <div class="button_container" id="toggle">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
      </div>
    </div>
  </div>
</header>
